# Run manually to reformat a file:
# clang-format -i --style=file <file>

# Format all files
# find . -iname '*.cpp' -o -iname '*.h' | xargs clang-format -i --style=file

BasedOnStyle: Google
DerivePointerAlignment: false
SortIncludes: false
